{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <input name="file1" placeholder="file1" type="file">
            <input name="file2" placeholder="file2" type="file">
            <select name="algorithm">
                <option disabled value="algorithm">algorithm</option>
                <option value="lines">lines</option>
                <option value="sentences">sentences</option>
                <option value="substrings">substrings</option>
            </select>
            <input autocomplete="off" name="length" placeholder="length" type="number">
            <input type="submit" value="Compare">

        </form>
    </div>

{% endblock %}
