p {
  font-family: Arial, sans-serif;
}

table, th, tr, td {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

ol li {
  color: orange;
}
ol ul li {
  color: red;
}

.title {
  font-weight: bold;
  font-size: 40px;
  color: blue;
  text-align: center;
}

.body, .layout {
  padding: 30px;
}

#bioText {
  color: red;
}

.layout {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (max-width: 799px) {
  body {
    background-color: lightgreen;
  }
}
